.row-fluid
  .span6.offset3
    .row-fluid
      .span12
        != '&larr;'
        = link_to 'Back', root_url
    .row-fluid
      .span12
        %h3= "##{params[:id]}"
        %p.muted
          %small= @url_path
    .row-fluid.messages
      .span12
        #messages{ style: "overflow: auto;" }
    .row-fluid.add-message{ style: "margin-top: 20px;" }
      .span12
        .message
          %input#message{ type: "text", placeholder: 'Type your message here...' }

  .room-id.hide{ "data-room-id" => @room.id }
  .room-string.hide{ "data-room-string" => @room.room_string }
  .user-string.hid{ "data-user-string" => @user_string }

:javascript
  var messages = new Messages(#{@messages.to_json});
  $(document).ready(function() {
    var messages_view = new MessagesView( { collection: messages, el: $('#messages') });
    messages_view.render();
    setInterval(function() { 
        messages.fetch();
      }, 3000);
  });